html,
body {
    margin: 0;
    padding: 0;
}


/*div {
            border: 1px solid black;
            box-sizing: border-box;
        }*/

.sky {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    float: left;
}

.void {
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
    float: left;
    z-index: 100;
}

.grass {
    width: 50px;
    height: 50px;
    background-image: url(tile3.png);
    background-color: blue;
    position: relative;
    float: left;
}

.rock {
    width: 50px;
    height: 50px;
    background-image: url(rock.png);
    background-color: blue;
    position: relative;
    float: left;
}

.player {
    width: 50px;
    height: 50px;
    background-image: url(heroR.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}

.gold {
    width: 50px;
    height: 50px;
    background-color: blue;
    background-image: url(coin.gif);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.cloud {
    width: 50px;
    height: 50px;
    background-image: url(clouds.png);
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.door {
    width: 50px;
    height: 50px;
    background-image: url(door.png);
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.ladder {
    width: 50px;
    height: 50px;
    background-image: url(Ladder.png);
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.enemy {
    width: 50px;
    height: 50px;
    background-image: url(goomba.gif);
    /*background-color: blue;*/
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}

#container {
    position: relative;
    border: none;
}