html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
	color: white;
	font-size: 5vw;
	text-align: center;
	background-image: url(tile.jpg);
	background-size: contain;
}

#container {
	background-color: grey;
	display: inline-block;
	position: relative;
	z-index: -1;
	margin: auto;
}

.cube {
	position: fixed;
	display: block;
	background-image: url(Hero.png);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
}

.enemy {
	width: 50px;
	height: 50px;
	background-image: url(enemy.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 5;
}

.kogel {
	position: fixed;
	display: block;
	background-image: url(bullet.gif);
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
}

#outer {
	background-color: black;
	height: 20px;
	position: fixed;
	left: 25px;
	top: 10px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	opacity: 0.6;
}

#inner {
	background-color: red;
	position: fixed;
	height: 20px;
	left: inherit;
	top: inherit;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
}

#points {
	width: 100px;
	height: 50px;
	position: fixed;
	background-color: grey;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}

.startknop {
	width: 15vh;
	height: 10vh;
	color: white;
	background-color: black;
	border-radius: 50%;
}

.Powerup {
	position: fixed;
	background-image: url(heart.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

h1 {
	padding-top: 0.5vh;
	font-size: 10vw;
	-webkit-animation: pulsate 3s ease-out;
	-webkit-animation-iteration-count: infinite;
}

h2 {
	font-size: 3vw;
}

@-webkit-keyframes pulsate {
	0% {
		opacity: 0.5;
		color: aqua;
	}
	25% {
		opacity: 1.0;
		color: chartreuse;
	}
	50% {
		opacity: 0.5;
		color: crimson;
	}
	75% {
		opacity: 1.0;
		color: yellow;
	}
	100% {
		opacity: 0.5;
		color: orange;
	}
}

h3 {
	font-size: 3vw;
}

table {
	margin: auto;
	position: relative;
}

th {
	font-size: 15px;
}

td {
	font-size: 15px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding-left: 50px;
	padding-right: 50px;
}

#spelregels {
	background-color: grey;
	font-size: 5vh;
	color: White;
	display: none;
	position: absolute;
	width: 60%;
	height: 35%;
	border-radius: 25px;
	z-index: 100;
	margin: auto;
	left: 20%;
	line-height: 5.5vh;
}

#ToonSpelregels {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	height: 30px;
	color: white;
	font-size: 20px;
	border-radius: 25px;
}

#ToonControls {
	position: fixed;
	top: 0;
	right: 0;
	background-color: grey;
	height: 30px;
	color: white;
	font-size: 20px;
	border-radius: 25px;
}

#controls {
	background-color: grey;
	font-size: 4vh;
	color: White;
	display: none;
	margin: auto;
	position: absolute;
	width: 60%;
	height: 35%;
	border-radius: 25px;
	z-index: 100;
	left: 20%;
	line-height: 6vh;
}

sub {
	font-size: 2vh;
}

#Mute {
	width: 70px;
	height: 20px;
	position: absolute;
	right: 40px;
	;
	bottom: 0;
}

#naam {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 30px;
	outline: none;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	text-align: center;
}

p {
	font-size: 20px;
}

#timer {
	font-size: 3vw;
	position: relative;
	bottom: 5%;
	opacity: 0.2;
}